* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100vw;
    height: 100vh;
    background-color: #676767;
}

.project-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 22.5% 55% 22.5%;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas:
        "left-section header right-section"
        "left-section main-section right-section "
        "footer footer footer"
}

@media only screen and (max-width: 800px) {
    .project-container {
        justify-content: center;
        grid-template-columns: 80vw;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            " header"
            "main-section"
            "right-section"
            "left-section"
    }

    main-section {
        height: 500px;
    }
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #0a0a0a;
    font-style: normal;
}

left-section {
    grid-area: left-section;
    display: flex;
    align-items: center;
    text-align: justify;
}

right-section {
    grid-area: right-section;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    height: 30px;
    width: 30px;
}

.right-container {
    margin: 0 5% 0 5%;
    padding: 10px;
    width: 100%;
    color: #2d2e2d;
    justify-content: center;
    align-items: center;
}

.left-container {
    font-weight: 600;
    bottom: 5px;
    margin: 0 5% 0 5%;
    padding: 10px;
    width: 100%;
    justify-content: center;

}

.card-container {
    font-size: 1rem;
    padding: 30px;
    height: fit-content;
    border-radius: 10px;
    background: #717171;
    color: black;

}

.sliders {
    font-weight: 600;
    padding: 30px;
    height: fit-content;
    border-radius: 10px;
    background: #717171;
    color: black;

}

.sliders-bar {
    direction: rtl;
    display: flex;
    width: fit-content;

}

.speed-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


main-section {
    grid-area: main-section;
    display: flex;
    align-items: flex;
}

main-section p {
    font-size: 10px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 0;
    /* position: absolute; */
    justify-content: center;
}

.array-bar {
    width: 100px;
    background-color: #222222;
    display: inline-block;
    margin: 10px 2px;
    align-self: flex-end;
    border-radius: 5px;
    transition: all 0.05s;
}

.control-buttons {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.new-arraybtn {
    margin-right: 5px;
    margin-top: 10px;
}

.cancel-animation {
    margin-left: 5px;
    margin-top: 10px;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background: #717171;
    width: 100%;
    padding: 3% 3%;
    margin-bottom: 10px;
    border: solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    transition: all 0.5s;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    background: #5c5c5c;
    ;
    color: #0b0b0b;
    cursor: not-allowed;
}

h5 {
    margin-top: -10px;
    font-size: 0.86rem;
    font-weight: 600;
}

a:link,
a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}